a {text-decoration: none;}

.tr-list {
    cursor: pointer;
}
.tr-list:hover{
    background:  #c7e4ff;
}
select {
    width: 200px; /* 원하는 너비설정 */
    padding: .4em .2em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 5px 0px 0px 5px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

/* 댓글 스타일 */
.card-body {border-bottom: 1px solid #e9ecef;}
.card-body:hover {
    background: #e9ecef;
    box-shadow: 5px 5px 3px #a9a9a9;
    cursor: pointer;
}
